@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

.container {
	max-width: 100vw;
}

.header{
	height: 10vh;
	width: 100vw;
	background: #fff;
	border-bottom: 5px solid #3CA0D0;
	position: fixed;
	z-index: 1000;
}

.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px;
}

.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 250px;
}
.menu__item{
	margin-right: 35px;
}
.menu__link{
	text-decoration: none;
	color: #212121;
	position: relative;
	font-size: 24px;
}
.menu__link:before{
  content: " ";
  background: #3ca0d0;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s;
}
.menu__link:hover:before{
  width: 100%;
}
/* основна частина */
#parallax-window {
    min-height: 100vh;
    background: transparent;
}
.banner .container{
	padding: 0px 30px;
	display: flex;
	height: 100vh;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	padding-bottom: 49px;
}
.banner__heading{
	font-size: 48px;
	color: #fff;
	font-weight: 300;
}
.banner_line{
	background: #fff;
	height: 1px;
	width: 500px;
}


.ticket-title {
	width: 100%;
	height: 750px;
	background-image: url(../img/ticket_main.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 12% 42px 12%;
	display: flex;
	flex-direction: column-reverse;
	font-size: 48px;
	color: white;
}

.ticket-mid {
	width: 1280px;
	margin: 0 auto;
	margin-top: 160px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ticket-mid .line {
	background: #BDBDBD;
	width: 1146px;
}

.line {
	width: 500px;
	height: 1px;
	background: white;
}


/*FLIGHTS*/


.flights {
	width: 1280px;
	border: 3px solid #086FA1;
	height: 100%;
	padding: 30px 50px;
	margin: 0 auto;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
}
.flights__heading{
	font-size: 36px;
	color: #086FA1;
}
.flights__content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.flights__field {
	width: 48%;
	height: 100%;
}
.form__field {
	width: 360px;
	margin-bottom: 38px;
}
.form__label {
	font-size: 16px;
	color: black;
}
.form__input {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	background-color: #F0F0F0;
	border: 1px solid #3CA0D0;
}
.form__number {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.people-quantity {
	width: auto;
	height: 100%;
}
.people__settings {
	width: auto;
	height: 40px;
	display: flex;
}
.people__option {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s;
}
.central-option {
	padding-left: 14px;
	font-size: 18px;
	background-color: #F0F0F0;
	border: 1px solid #3CA0D0;
}
.people__image {
	width: 20px;
}
.mark:hover{
	background-color: #F0F0F0;
}
.form__button {
	width: 160px;
	height: 46px;
	background-color: #086FA1;
	border: 0;
	color: white;
	font-size: 22px;
	border-radius: 5px;
}
.form__button:focus {
	filter: brightness(0.9);
}
option {
	font-size: 16px;
}

.flights__city {
	width: 550px;
	height: 160px;
	margin-bottom: 27px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding-left: 20px;
	position: relative;
}
.city1 {
	background-image: url(../img/kyiv.png);
}
.city2 {
	background-image: url(../img/dnipro.png);
}
.city3 {
	background-image: url(../img/odesa.png);
}
.city__plane {
	width: 48px;
	height: 48px;
	margin-right: 17px;
	margin-top: 26px;
	z-index: 100;
}
.city__heading {
	color: white;
	font-size: 48px;
	z-index: 100;
}
.for-filter {
	width: 550px;
	height: 160px;
	background-color: rgb(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}


/*FLIGHTS end*/



.footer{
    height: 220px;
    width: 100%;
    background: #155776;
}
.footer .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}
.footer__menu{
    width: 16%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__menu-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.footer__menu-item{
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
}
.footer__copyright{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer__phone{
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__coright-text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
    vertical-align: bottom;
    position: absolute;
    top: 200px;
}
.footer__partners{
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.partners__text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
}
.partners__img{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners__img1{
    width: 30%;
    height: 70%;
    background-image: url(../img/bukovel.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.partners__img2{
    width: 70%;
    height: 70%;
    background-image: url(../img/MAY.png);
    background-repeat: no-repeat;
    background-size: 100%;
}