*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.wrapper{
    height: auto;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */
.header{
    height: 10vh;
    width: 100vw;
    background: #fff;
    border-bottom: 5px solid #3CA0D0;
    position: fixed;
    z-index: 3;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px !important;
    padding: 0 30px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.menuitem{
    margin-right: 35px;
}
.menulink{
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    position: relative;
}
.menulink:before{
  content: " ";
  background: #3ca0d0;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s;
}
.menulink:hover:before{
  width: 100%;
}
/* BANNER */ /* BANNER */ /* BANNER */ /* BANNER */ /* BANNER */ /* BANNER */
.banner{
    width: 100%;
    height: 100vh;
/*    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center;*/
}
.banner .container{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.banner__text{
    font-family: 'Noto Sans', sans-serif;
    font-size: 48px;
    line-height: 65px;
    color: white;
    margin-bottom: 3%;
    margin-left: 3%;
    border-top: 2px solid white;
}
/* LOCATION */ /* LOCATION */ /* LOCATION */ /* LOCATION */ /* LOCATION */ /* LOCATION */ 
.location{
    margin-top: 5%;
    width: 100%;
    height: 662px;
}
.location .container{
    width: 1140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.location__text{
    width: 40%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #000000;
    border-bottom: 3px solid #3CA0D0;
    z-index: 4;
}
.location__pointer{
    width: 5.3%;
    height: 40px;
    background-image: url(../img/location-pointer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.location__address{
    width: 55.5%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    position: relative;
}
.circle1{
    width: 55px;
    height: 55px;
    background-image: url(../img/Ellipse\ 1.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 93.5%;
    z-index: 1;
}
.circle2{
    width: 18px;
    height: 18px;
    background-image: url(../img/Ellipse\ 2.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 99%;
    bottom: 55%;
    z-index: 2;
}
.address__title{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}
.address__description{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    z-index: 4;
}
.location__banner{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}
/* TOURIST PLACES */ /* TOURIST PLACES */ /* TOURIST PLACES */ /* TOURIST PLACES */ /* TOURIST PLACES */
.places{
    margin-top: 5%;
    width: 100%;
    height: 600px;
}
.places .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.places__title{
    width: 32%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    border-top: 3px solid #3CA0D0;
}
.places__cards{
    width: 100%;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 240px 240px;
    grid-column-gap: 2%;
    grid-row-gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8%;
    background-repeat: no-repeat;
    position: relative;
}
.card:hover .tourism__right{
    width: 0%;
    transition: all 1s;
}
.card:hover .tourism__left{
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.card1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../img/card1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 8%;
}
.card__title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
}
.card__description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
}
.card:hover .card__title{
    opacity: 1;
}
.card:hover .card__description{
    opacity: 1;
}
.card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    transition: opacity 0.6s;
    opacity: 0;
    z-index: 1;
}
.card:hover::after {
    opacity: 1;
}
.tourism{
    position: absolute;
    width: 34%;
    height: 8.5%;
    top: 230px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
.tourism__left{
    width: 50%;
    height: 100%;
    background: #3CA0D0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.left__title{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.tourism__right{
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    transition: all 1s;
}
.card2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../img/card2.png);
}
.card3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../img/card3.png);
}
.card4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../img/card4.png);
    padding-bottom: 6%;
    padding-top:6%;
}
.card5{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../img/card5.png);
    padding-bottom: 6%;
        padding-top:6%;
}
.card6{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../img/card6.png);
    padding-bottom: 6%;
    padding-top:6%;
}
/* HOTELS */  /* HOTELS */   /* HOTELS */   /* HOTELS */   /* HOTELS */  
.hotels{
    width: 100%;
    height: 870px;
    margin-top: 5%;
}
.hotels .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotels__title{
    width: 35.5%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #000000;
    border-bottom: 3px solid #3CA0D0;
}
.hotels__restourants-block{
    background-repeat: no-repeat;
    background-size: cover;
}
.hotels__reatourants{
    width: 100%;
    height: 770px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 480px 240px;
    grid-column-gap: 2%;
    grid-row-gap: 50px;
    transition: all 2s;
}
.hotel{
    background: #E9F8FF;
    border: 2px solid #086FA1; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hotel2{
    padding-top: 15px
}
.hotel__img{
    width: 90%;
    height: 200px;
    background-size: cover;
}
.hotel__img1{
    background-image: url(../img/nadia.png);
}
.hotel__img2{
    background-image: url(../img/roksolana.png);
}
.hotel__img3{
    background-image: url(../img/stanislav.png);
}
.hotel__title{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #3CA0D0;
}
.hotel__list{
    margin-left: 12%;
}
.hotel__list3{
    margin-left: -5%;
}
.hotel__list > li{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.restouranat1{
    background-image: url(../img/family.png);
    transition: all 0.5s ease-out;
}
.restouranat2{
    background-image: url(../img/passage.png);
}
.restouranat3{
    background-image: url(../img/delikacia.png);
}
.restouranat{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5%;
    transition: all 0.5s ease-out;
    position: relative;
}
.restouranat::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    transition: opacity 0.6s;
    opacity: 0;
    z-index: 1;
}
.restouranat:hover::after{
    opacity: 1;
}
.restouranat:hover .restoraunt__title{
    transition: all 0.5s;
    margin-bottom: 75px;
}
/*.restouranat:hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-out;
}*/
.restouranat:hover .pointer{
    transition: all 0.5s;
    display: block;
    align-self: center;
}
.restoraunt__title{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 49px;
    color: #FFFFFF;
    transition: all 2s;
    z-index: 2;
}
.pointer{
    width: 8%;
    height: 12%;
    background-image: url(../img/pointer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
    display: none;
    z-index: 2;
}
/* FOOTER */ /* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
.footer{
    margin-top: 5%;
    height: 190px;
    width: 100%;
    background: #155776;
}
.footer .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu{
    width: 16%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__menu-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.footer__menu-item{
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
}
.footer__copyright{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.footer__copyright-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer__phone{
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__copyright-text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
}
.footer__partners{
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.partners__text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
}
.partners__img{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners__img1{
    width: 30%;
    height: 70%;
    background-image: url(../img/bukovel.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.partners__img2{
    width: 70%;
    height: 70%;
    background-image: url(../img/MAY.png);
    background-repeat: no-repeat;
    background-size: 100%;
}